In [9]:
empty_tupple=()
#!/usr/bin/env python3
print(empty_tupple)  # Output the empty tuple
empty_tupple = ()
print(empty_tupple)  # Output the empty tuple again

()
()

In [10]:
lst =list()
print(lst)  # Output the empty list
names = ["anjanee", "", "krishna"]
print(names)  # Output the list of names
names.append("sai")  # Add a new name to the list

[]
['anjanee', '', 'krishna']

In [11]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)  # Output the mixed tuple

(1, 'hello', 3.14, True)

In [12]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    if number % 2 == 0:
        continue  # Skip even numbers
    print(number)  # Output the current number
count=0  # Initialize a counter
while count % 2:
    print(count)  # Output the current count
    count += 1  # Increment the counter
lst=[]

1
3
5

In [13]:
concatination_tupple = (1, 2, 3) + (4, 5)
print(concatination_tupple)  # Output the concatenated tuple

(1, 2, 3, 4, 5)

In [14]:
numbers *= [1, 2, 3, 4, 5]
print(numbers)  # Output the multiplied list

TypeError: can't multiply sequence by non-int of type 'list'

In [17]:
## Immutable nature of tuples

lst = [1, 2, 3]
try:
    lst[0] = 10  # Attempt to modify the first element
except TypeError as e:
    print(f"Error: {e}")
# Output the error message
print("Tuples are immutable, so we cannot change their elements directly.",lst)

Tuples are immutable, so we cannot change their elements directly. [10, 2, 3]

In [18]:
## unpacking tuples
person = ("John", 30, "Engineer")
name, age, profession = person  # Unpack the tuple
print(f"Name: {name}, Age: {age}, Profession: {profession}")

Name: John, Age: 30, Profession: Engineer